/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/libs/*
*.log
/entry/oh_modules
/entry/src/main/resources/rawfile
/entry/src/main/cpp